.review-section {
    background: #ffc2c240;
    padding: 20px;
    text-align: center;
}

.review-section h1 {
    color: var(--pink);
    font-size: 35.2px;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: 20px auto;
}

.review-card {
    padding: 20px;
    border-radius: 10px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #ffffff;
}

.review-card p {
    font-size: 1rem;
    margin: 0;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.review-card span {
    color: var(--pink);
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    /* text-shadow: 1px 4px 4px #00000050; */
}

@media (max-width: 1024px) {
    .cards-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .cards-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .review-section h1 {
        font-size: 26px;
    }
}
